<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Nombre: <%= name %></p>
    <p>Cedula: <%= cedula %></p>

    <h2>Datos personales</h2>
    <h2>Datos Academicos</h2>
    <h2>otro</h2>
  </body>
</html>
